@import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Italiana', serif;
}
#content-page{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("../imgs/bckgrd.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#header-title-menu{
    width:100%;
    background-color: black;
    color:white;
}
.title{
    width:35%;
    display: inline-block;
}
.menu-box{
    width:64%;
    display: inline-block;
}
.menu-option{
    width:20%;
    display: inline-block;
    text-align: center;
    padding:1%;
}
.menu-option:hover{
    width:20%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color:black;
    border-radius: 5px;
    padding:1%;
}
.title-text{
    margin:3% 15%;
}
.making-pizza-box{
    width: 85%;
    text-align: center;
    border-radius: 25px;
    padding:1%;
    margin:0 auto;
    display: none;
    background-color: white;

}
.making-pizza-box.visible{
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}
.pizza-name-input{
    border:none;
    border-bottom:3px solid black;
}
.pizza-name-label{
    font-size: 150%;
}
.pizza-name-input{
    font-size: 150%;
    width:20%;
    margin:0.5%;
}
.ingedients-type{
    margin:1%;
    padding:5%;
}
.ingredients-box{
    width:60%;
    border:1px solid green;
    margin:1% auto;
}
.ingredients-box-select{
    width:60%;
    border:1px solid green;
    margin:1% auto;
}
.ingredients-select{
    padding:1%;
    display:inline-block;
}
.ingr-box-select{
   font-size: 150%;
   display:inline-block;
   border:1px solid black;
   width:25%;
   height:10%;
   margin:1.5%;
}
.text-on-page-content{
    margin:0;
    padding:0;
    color:white;
    font-size: 350%;
    padding:10%;
}
.text-on-page-content.invisible{
   display: none;
}
a{
    text-decoration: none;
    color:white;
}
.darken-mode.visible{
    background: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
      ),url("../imgs/bckgrd.jpg");
}
.pizzas-menu{
    width:60%;
    margin:2% auto;
}
.pizzas-menu.visible{
    width:60%;
    margin:2% auto;
    display:none;
}
.pizza-table{
    width:100%;
}
.pizza-name{
    width:85%;
    text-align: center;
}
.pizza-size{
    text-align: center;
    font-size: 120%;
}
table{
}
.pizzas-name{
    font-variant: small-caps;
    font-size: 150%;
    padding-left: 1%;
    width:50%;
    color:rgb(182, 30, 139);
}
td{
    padding:2%;
    background-color: rgb(210, 206, 206);
}
#footer{
    background-color: black;
    color:white;
    margin:0;
    padding:1%;
}
.copyright-text{
    text-align: center;
    margin:0;
    padding:2%;
    width:100%;
    clear: both;
}
.footer-links-elements{
    display: inline-block;
    width:10%;
    text-align: center;
    margin:2% auto;
}
#footer-links{
    text-align:center;
}
.footer-header{
    text-align: center;
    
}

.form-inputs{
    text-align: center;
    display:inline-block;
    font-size: 140%;
    margin:3%;
    width:80%;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid white;
    color:white;
}
.left-side-form{
    width:40%;
    float:left;
    margin:3%;
    height:25%;

}
.right-side-form{
    width:40%;
    float:right;
    margin:3%;
    height:25%;
}
.textarea-form{
    width:50%;
    height:50%;
}
.form-input-textarea{
    width:50%;
    height:15vh;
    margin:3%;
    text-align: center;
    background-color: transparent;
    border:none;
    color:white;
    font-size: 120%;
}
.arrow-up{
    position: fixed;
    right:0;
    bottom:0;
    margin:2%;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border:1px solid black;
    text-align: center;
    background-color: black;
    color:white;
}
.arrow{
    text-align: center;
    line-height: 45px;
}
#inputedSize{
    width:20%;
    border:none;
    border-bottom:2px solid black;
    text-align: center;
    font-size: 130%;
    margin:1%;
}
#inputedIngredients{
    width:20%;
    border:none;
    border-bottom:2px solid black;
    text-align: center;
    font-size: 130%;
    display: block;
    margin:2% auto;
}
#inputedIngredientsFirst{
    width:20%;
    border:none;
    border-bottom:2px solid black;
    text-align: center;
    font-size: 130%;
    display: block;
    margin:2% auto;
}
.add-new-ingredient{
    display:inline-block;
    border:1px solid black;
    background-color: black;
    color:white;
    height:20px;
    width:20%;
    margin:1% 5%;
}
.add-new-ingredient:hover{
    display:inline-block;
    border:1px solid black;
    background-color: black;
    color:white;
    height:20px;
    width:20%;
    margin:1% 5%;
    cursor: pointer;
}
.remove-new-ingredient{
    display: inline-block;
    width:20%;
    margin:1% 5%;
    border:2px solid black;
}
.remove-new-ingredient:hover{
    display: inline-block;
    width:20%;
    margin:1% 5%;
    border:2px solid black;
    cursor: pointer;
}
.address-info{
    width:60%;
    border:1px solid green;
    margin:1% auto;
}
.address-inputs{
    width:25%;
    margin:0.5% auto;
}
.address-lables{
    width:20%;
    padding-left:3%;
}