@import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Italiana', serif;
}
#content-page{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("../imgs/bckgrd.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#header-title-menu{
    width:100%;
    background-color: black;
    color:white;
}
.title{
    width:34%;
    display: inline-block;
}
.menu-box{
    width:64%;
    display: inline-block;
}
.menu-option{
    width:30%;
    display: inline-block;
    text-align: center;
    padding:1%;
}
.menu-option:hover{
    width:30%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color:black;
    border-radius: 5px;
    padding:1%;
}
.title-text{
    margin:3% 15%;
}
.making-pizza-box{
    width: 85%;
    text-align: center;
    border-radius: 25px;
    padding:1%;
    margin:0 auto;
    display: none;
    background-color: white;

}
.making-pizza-box.visible{
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}
.pizza-name-input{
    border:none;
    border-bottom:3px solid black;
}
.pizza-name-label{
    font-size: 150%;
}
.pizza-name-input{
    font-size: 150%;
    width:20%;
    margin:0.5%;
}
.ingedients-type{
    margin:1%;
    padding:5%;
}
.ingredients-box{
    width:60%;
    border:1px solid green;
    margin:1% auto;
}
.ingredients-select{
    padding:1%;
}
.ingr-box-select{
   font-size: 150%;
   display:inline-block;
   border:1px solid black;
   width:25%;
   height:10%;
   margin:1.5%;
}
.text-on-page-content{
    margin:0;
    padding:0;
    color:white;
    font-size: 350%;
    padding:10%;
}
.text-on-page-content.invisible{
   display: none;
}

a{
    text-decoration: none;
    color:white;
}
.darken-mode.visible{
    background: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
      ),url("../imgs/bckgrd.jpg");
}
#pizzas-menu{
    width:60%;
    margin:2% auto;
}
.pizza-table{
    width:100%;
}
.pizza-name{
    width:85%;
    text-align: center;
}
.pizza-size{
    text-align: center;
    font-size: 120%;
}
table{
}
.pizzas-name{
    font-variant: small-caps;
    font-size: 150%;
    padding-left: 1%;
    width:50%;
    color:rgb(182, 30, 139);
}
td{
    padding:2%;
    background-color: rgb(210, 206, 206);
}
#footer{
    background-color: black;
    color:white;
    margin:0;
    padding:1%;
}
.copyright-text{
    text-align: center;
    margin:0;
    padding:2%;
}